
.amt-rating-elem{
    cursor: pointer;

    &.amc-rating {
    position: relative;
    display: inline-block;

        .amc-rating-under{
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
        }
    }

}




